body {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(-45deg, gray, white);
	margin: 0;
}

#grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	margin: 10px;
}

#button{
	border-radius: 25px;
	transition-duration: 0.4s;
	margin: 10px;
}

#button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	transition-duration: 0.4s;
	background-color: blue;
	color: white;
	cursor: pointer;
	border-radius: 25px;
	transform: translate(3em) scale(2);
}

#button:active {
  background-color: blue;
  border-radius: 25px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translate(3em) translateY(1em) scale(2);
}

#button:focus {
	outline: 0
}

